<a href="https://colab.research.google.com/github/Yamani-Swathi/Swathi_MetaSciforTraining/blob/main/Python_Asg_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("hello")

hello

In [3]:
x = 10
Y = "python"

print(x, type(x))
print(Y, type(Y))

10 <class 'int'>
python <class 'str'>

In [9]:
numbers = [1, 2, 3, 4, 5]
total = sum(numbers)
average = total / len(numbers)

print(total)
print(average)

15
3.0

In [15]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum", a + b)
print("Difference", a - b)
print("Product", a * b)
print("Quotient", a / b)

Enter first number: 20
Enter second number: 5
Sum 25
Difference 15
Product 100
Quotient 4.0

In [18]:
name = "Alice"
age = 25

print("%s is %d years old." % (name, age))
print("{} is {} years old.".format(name, age))

Alice is 25 years old.
Alice is 25 years old.

In [19]:
a = input("Enter a string ")

print(a.upper(), a.lower())

vowels = "aeiouAEIOU"
count = sum(1 for char in a if char in vowels)
print("Vowel count", count)

print("Reversed", a[::-1])

Enter a string SwaThi
SWATHI swathi
Vowel count 2
Reversed ihTawS

In [21]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 18
Even

In [22]:
for i in range(2,51):
    for j in range(2,51):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,

In [26]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

n = int(input("Enter a number: "))
print("Factorial", factorial(n))

Enter a number: 4
Factorial 24

In [27]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def display_info(self):
        print(f"Car: {self.brand} {self.model}, Year: {self.year}")

car1 = Car("Toyota", "Corolla", 2022)
car1.display_info()

Car: Toyota Corolla, Year: 2022

In [28]:
students = {"alex": 85, "sam": 92, "honey": 78}

for name, score in students.items():
    print(name, ":", score)

highest = max(students.values())
print("Highest score:", highest)

alex : 85
sam : 92
honey : 78
Highest score: 92

In [29]:
import math

n = int(input("Enter a number: "))

print("Square root:", math.sqrt(n))
print("Factorial:", math.factorial(n))

Enter a number: 5
Square root: 2.23606797749979
Factorial: 120

In [30]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print(f"Hello {name}, you are {age} years old!")

Enter your name: swathi
Enter your age: 21
Hello swathi, you are 21 years old!